bin
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/App.baml
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/GeneratedInternalTypeHelper.g.cs
obj/Debug/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/TempPE/Resources.IconChika.Designer.cs.dll
obj/Debug/ToastFish.csproj.CopyComplete
obj/Debug/ToastFish.csproj.CoreCompileInputs.cache
obj/Debug/ToastFish.csproj.FileListAbsolute.txt
obj/Debug/ToastFish.csproj.GenerateResource.cache
obj/Debug/ToastFish.csprojAssemblyReference.cache
obj/Debug/ToastFish.exe
obj/Debug/ToastFish.g.resources
obj/Debug/ToastFish.pdb
obj/Debug/ToastFish.Properties.Resources.resources
obj/Debug/ToastFish.Resources.IconChika.resources
obj/Debug/ToastFish_Content.g.cs
obj/Debug/ToastFish_Content.g.i.cs
obj/Debug/ToastFish_MarkupCompile.cache
obj/Debug/ToastFish_MarkupCompile.i.cache
obj/Debug/ToastFish_MarkupCompile.lref
obj/Debug/View/ToastFish.baml
obj/Debug/View/ToastFish.g.cs
obj/Debug/View/ToastFish.g.i.cs
obj/project.assets.json
obj/project.nuget.cache
obj/ToastFish.csproj.nuget.dgspec.json
obj/ToastFish.csproj.nuget.g.props
obj/ToastFish.csproj.nuget.g.targets
.vs/ToastFish/v16/.suo
